time parameter

working on implementing the draft spec, I run into the specification of the time parameter as used in /collections and /collections/:collectonId/items.

currently time is defined as follows:
```
        - name: time
          in: query
          description:  Either a date-time or a period string that adheres to RFC 3339. Examples:
            * A date-time: "2018-02-12T23:20:50Z" 
            * A period: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z" or "2018-02-12T00:00:00Z/P1M6DT12H31M12S"
            Only collections that have a temporal property that intersects the value of `time` are selected.
            If a collection has multiple temporal properties, it is the decision of the server whether only a single temporal property is used to determine the extent or all relevant temporal properties.
          required: false
          style: form
          explode: false
          schema:
            type: string
```

Can we consider breaking this apart into from/to parameters? that way the yaml can be a lot more specific using the ```format: date-time``` modifier of the string type. 

```
        - name: from
          in: query
          description: date time according to RFC 3339, section 5.6. Example 2018-02-12T23:20:50Z
          required: false
          schema:
            type: string  
            format: date-time
        - name: to
          in: query
          description: date time according to RFC 3339, section 5.6. Examples "2018-02-12T23:20:50Z"
          required: false
          schema:
            type: string  
            format: date-time
```


@mhogeweg time?  Hmm, that should be datetime and it should be as defined in OGC API Common and OGC API Features.  Actually, the parameters bbox, datetime and limit should be exactly as defined in OGC API Common (or OGC API Features) since the intent is to inherit the parameters from that specification.

that's my point. that definition as it was taken from that common spec will lead to unnecessarily ambiguous outcomes. plus by making the parameter a single value or a period separated by / it is not really a yaml array either (, space, | separators)

@mhogeweg can you be a little more explicit about how the current definition leads to ambiguous outcomes?  Is this related to the definition of the parameter itself or what is applied to?

from the oapi_common spec:
- If a feature has multiple temporal properties, it is the decision of the server whether only a single temporal property is used to determine the extent or all relevant temporal properties.

ISO 19115-1 date type codes:
+ creation
+ publication
+ revision
+ expiry
+ lastUpdate
+ lastRevision
+ nextUpdate
+ unavailable
+ inForce
+ adopted
+ deprecated
+ superseded
+ validityBegins
+ validityExpires
+ released
+ distribution

the current definition let's the records server decide what dates to consider. that is ambigous

and more so, why not follow the [OpenSearch Geo and Time Extension OGC standard](https://portal.opengeospatial.org/files/?artifact_id=56866)?

that defines:

names|definition|data type and values|multiplicity and use
-|-|-|-
start| A string describing the start of the temporal interval to search (bigger or equal to).  | Character String; must match the
RFC-3339b. | One (optional)
end|A string describing the end of the temporal interval to search (smaller or equal to).|Character String; must match the
RFC-3339b.|One (optional)
relation|A temporal relation to the result set| Character String: One the “intersects”, “contains”, “during”, “disjoint”, “equals”|One (optional) default is “intersects”


@mhogeweg I am not sure I see how moving from datetime to from/to resolves the ambiguity which is related to which property the parameter(s) applies(y) to.  I agree, that might be an issue for the core but I believe that you created Issue #55 about that.

Specifically about the interface itself, the feeling of the SWG is that the core should be compatible with the core features API and the STAC API so that a features or STAC client would work with the records API as well.  That means that the query parameters bbox, datetime and limit must be implemented. 

With regards to OpenSearch, the records core specification defines an optional conformance class named "OpenSearch" and the intent there is to make it compatible with 10-032.

The ideas is that building blocks are available that allow an implementer to build ever more capable query APIs:
1. Core
    - limited set of query parameters (bbox, datetime) and the client has very little control over how those parameters are applied
2. OpenSearch
    - more query parameters and more control to the client over how those parameter are applied
3. CQL
    - full query language giving the client the most query capability and control

There are indeed two things. One about the information used in time searches.

The other is on use of open api. Perhaps I’m missing something but I would expect to follow the YAML spec. For the time parameter using / makes we can’t define the parameter as an array with 1 or 2 elements. More interpretation at the server as a result.


19-OCT-2020:  The currently defined datetime parameter is mappable to OpenSearch parameters.  See https://github.com/opengeospatial/ogcapi-features/issues/252.

Closing issues since the currently defined datetime parameter are mappable to OpenSearch parameters as per https://github.com/opengeospatial/ogcapi-features/issues/252.