Example "Records Example in GeoJSON" appears to have invalid timestamp date

Please let me know if I am putting this issue in the correct place.

In section 8.5.5.4 of the OGCAPI-Records spec, the GeoJSON look like this:

```
{
  "type": "FeatureCollection",
  "timeStamp": "2021-03-06T07:10:00",
  ...
```

According to the OpenAPI [YAML](https://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/featureCollectionGeoJSON.yaml):

```
timeStamp:
    type: string
    format: date-time
```

According to OpenAPI spec, date-time is defined as:

`date-time – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21T17:32:28Z`

And the RFC 3339, section 5.6:

```

   date-fullyear   = 4DIGIT
   date-month      = 2DIGIT  ; 01-12
   date-mday       = 2DIGIT  ; 01-28, 01-29, 01-30, 01-31 based on
                             ; month/year
   time-hour       = 2DIGIT  ; 00-23
   time-minute     = 2DIGIT  ; 00-59
   time-second     = 2DIGIT  ; 00-58, 00-59, 00-60 based on leap second
                             ; rules
   time-secfrac    = "." 1*DIGIT
   time-numoffset  = ("+" / "-") time-hour ":" time-minute
   time-offset     = "Z" / time-numoffset

   partial-time    = time-hour ":" time-minute ":" time-second
                     [time-secfrac]
   full-date       = date-fullyear "-" date-month "-" date-mday
   full-time       = partial-time time-offset

   date-time       = full-date "T" full-time
```

I believe the `date-time` requires the time-offset.

The timestamp in the example should have the timezone:

```
{
  "type": "FeatureCollection",
  "timeStamp": "2021-03-06T07:10:00Z",
  ...
```

NOTE: i added `Z` at the end of the timestamp.









@davidblasby thanks.  PR in #409 